.character__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.character__name {
  font-size: 32px; 
}

.character__hero {
  max-width: 210px;
  max-height: 310px;
}