// Colors
$color-dark-xl: #4c4c4c;
$base-color: #fff;
$dark-color: #292929;
$color-dark-x2: #2b2424;
$color-dark-x3: #01071a;
$card-hero-back: #000000;
$subtitle-color: #9b9b96;
$hp-bar-color: rgb(184, 4, 4);
$btn-color: #7225D8;
$accent-bg: rgba(170, 59, 255, 0.1);
$grey-bg: rgba(244, 243, 236, 0.5);


// Fonts
$font-base: "Ubuntu", sans-serif;
$font-accent: "Georgia", sans-serif;
$font-second-family: "Arial", sans-serif;